{% extends "layout.html" %}
{% block title %}| {{page_title}}{% endblock title %}
{% block body %}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">                
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <a href="{{url_for('.create_transformer')}}" class="pull-right"><button class="btn btn-sm btn-info">Register {{page_title}}</button></a>
        <h1>
            {{page_title}}
            <small>{{page_caption}}</small>
        </h1>        
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="box-tools">
                        <form action="{{request.path}}" method="get">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control input-sm pull-right" style="width: 100%;" placeholder="Search" {% if search_q %}value="{{search_q}}"{% endif %}/>
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        </div>
                        {% if search_q %}
                        <div>
                            <span><strong>Search Result for:</strong> <i>{{search_q}}</i></span>
                        </div>
                        {% endif %}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>model_number</th>
                                <th>capacity</th>
                            </tr>
                            {% for obj in results.items %}
                            <tr>
                                <td>{{obj.id}}</td>
                                <td>{{obj.model_number}}</td>
                                <td>1{{obj.capacity}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% if results.total == 0 %}
                        <h3 style="text-align: center; padding-top:80px;padding-bottom: 80px;">Sorry there are currently no records for {{page_title}}</h3>
                        {% endif %}
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->                
</aside><!-- /.right-side -->
{% endblock body %}